In [1]:
from mssa.mssa import mSSA
import pandas as pd 
import matplotlib.pyplot as plt 
import io
import numpy as np 
import torch 
import copy 
from sklearn.metrics import r2_score
import os 
from datetime import datetime, timedelta
from datetime import timedelta
dev = False

In [2]:
file = "traffic.txt"
isExist = os.path.exists(file)
if not isExist:
    print(f"Files not exist")

In [3]:
"""Preprocess data"""
data = pd.read_csv('traffic.txt', delimiter = ',', header=None)
print('data loaded..')
data_2 = data.copy()
#pick the first 20 clients
data_2 = data_2.iloc[:,:20]
#create time column: 2 years 1 hour
data_2['time'] = pd.to_datetime(np.arange(datetime(2015,1,1), datetime(2017,1,1), timedelta(hours=1)))
data_2.index = data_2['time']
data_2 = data_2.drop(['time'], axis = 1)
#create column names
data_3 = data_2.copy()
col_names = ['MT_{0:03}'.format(i+1) for i in range(data_3.shape[1])]
data_3.columns = col_names
aggregated_data = data_3.copy()

data loaded..

In [4]:
aggregated_data.shape

(17544, 20)

In [5]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
Std_normalization = 1
if Std_normalization:
    scaler = StandardScaler()
    temp = scaler.fit_transform(aggregated_data)
    norm_means = scaler.mean_
    norm_std = scaler.scale_
else:
    scaler = MinMaxScaler()
    temp = scaler.fit_transform(aggregated_data)
global data_4
normalized_data = pd.DataFrame(temp, index=aggregated_data.index, columns = aggregated_data.columns)

In [6]:
normalized_data.head()

,MT_001,MT_002,MT_003,MT_004,MT_005,MT_006,MT_007,MT_008,MT_009,MT_010,MT_011,MT_012,MT_013,MT_014,MT_015,MT_016,MT_017,MT_018,MT_019,MT_020
time,,,,,,,,,,,,,,,,,,,,
2015-01-01 00:00:00,-0.712761,-0.649143,-0.936348,-1.154807,-0.569033,-0.500971,-0.765328,-0.665566,-0.660995,-0.414196,-0.822551,-0.854473,-0.914064,-0.568700,-0.899862,-0.569866,-1.335692,-0.748872,-0.798016,-0.608055
2015-01-01 01:00:00,-0.674341,-0.645010,-0.862140,-1.067719,-0.513278,-0.488945,-0.701394,-0.490022,-0.447094,-0.407787,-0.770593,-0.822892,-0.849406,-0.507760,-0.835587,0.155680,-1.213432,-0.748872,-0.514071,-0.599583
2015-01-01 02:00:00,-0.725568,-0.742124,-0.963111,-1.203794,-0.610849,-0.594173,-0.822705,-0.641794,-0.681695,-0.484698,-0.886055,-0.901844,-0.951011,-0.735623,-1.053028,-0.145701,-1.310521,-0.952812,-0.716423,-0.691364
2015-01-01 03:00:00,-0.727168,-0.826841,-1.022720,-1.296324,-0.666604,-0.672342,-0.886640,-0.810024,-0.959996,-0.602201,-1.015951,-0.929478,-1.023059,-0.923742,-1.177476,-0.839993,-1.321309,-1.093459,-0.977522,-0.729489
2015-01-01 04:00:00,-0.722366,-0.837172,-1.055566,-1.318096,-0.680543,-0.706917,-0.925984,-0.948996,-1.114097,-0.573359,-1.079455,-0.943294,-1.041533,-1.045622,-1.233545,-1.221742,-1.342884,-1.130380,-1.170083,-0.753493

In [7]:
if dev:
    cols = normalized_data.columns

In [8]:
if dev:
    test_df = normalized_data.iloc[:5][cols[:5]].copy()
    np_test = test_df.to_numpy()

In [9]:
if dev:
    """Inject missing data"""
    # Convert original data to 1d array - Because existing package only supports randomly choose from 1d array
    np_test_1d = np_test.flatten()
    np_test_1d

In [10]:
if dev:
    total_elem = np_test_1d.shape[0]
    missing_percentage = 50
    number_of_missing_elem = int(missing_percentage*1.0*total_elem/100) 
    print(number_of_missing_elem)
    missing_index = np.random.choice(np.arange(total_elem), number_of_missing_elem, replace=False)
    np_test_1d[missing_index] = 0
    np_test_1d

In [11]:
if dev:
    np_test_2d = np_test_1d.reshape(5,-1)
    np_test_2d

In [12]:
"""

Create missing values based on normal distribution random choice

Input: 
 - pd_data: 2d pandas data frame
 - missing_percentage: missing percentage <= 100

Output:
 - return_data: 2d pandas with missed values

"""
def create_missing_data(pd_data, missing_percentage = 20):
    assert missing_percentage <= 100, "missing percentage should be less than or equal 100%"
    np.random.seed(1993)
    # Convert data frame to array
    np_data = pd_data.to_numpy()
    # Convert original data to 1d array - Because existing package only supports to randomly choose indices from 1d array
    np_data_1d = np_data.flatten()
    # Randomly choose missing index
    total_elem = np_data_1d.shape[0]
    number_of_missing_elem = int(missing_percentage*1.0*total_elem/100)
    missing_index = np.random.choice(np.arange(total_elem), number_of_missing_elem, replace=False) # with replace = False, an index only is chosen 1 time
    # Replace missing_index with 0
    np_data_1d[missing_index] = 0
    # Convert 1d array to 2d array
    np_data_2d = np_data_1d.reshape(pd_data.shape[0], pd_data.shape[1])
    # Convert 2d array to dataframe
    cols_name = pd_data.columns
    return_data = pd.DataFrame(np_data_2d, columns = cols_name)
    return_data.index = pd_data.index
    return return_data

missing_df = create_missing_data(normalized_data, missing_percentage=20)
missing_df.head()

,MT_001,MT_002,MT_003,MT_004,MT_005,MT_006,MT_007,MT_008,MT_009,MT_010,MT_011,MT_012,MT_013,MT_014,MT_015,MT_016,MT_017,MT_018,MT_019,MT_020
time,,,,,,,,,,,,,,,,,,,,
2015-01-01 00:00:00,-0.712761,-0.649143,0.000000,-1.154807,0.000000,-0.500971,-0.765328,-0.665566,0.000000,-0.414196,-0.822551,-0.854473,0.000000,0.000000,-0.899862,-0.569866,-1.335692,-0.748872,-0.798016,-0.608055
2015-01-01 01:00:00,-0.674341,-0.645010,-0.862140,-1.067719,-0.513278,0.000000,-0.701394,-0.490022,-0.447094,0.000000,-0.770593,-0.822892,-0.849406,-0.507760,-0.835587,0.155680,-1.213432,0.000000,0.000000,-0.599583
2015-01-01 02:00:00,-0.725568,-0.742124,-0.963111,-1.203794,-0.610849,-0.594173,-0.822705,-0.641794,-0.681695,-0.484698,-0.886055,0.000000,-0.951011,-0.735623,-1.053028,-0.145701,-1.310521,-0.952812,-0.716423,-0.691364
2015-01-01 03:00:00,-0.727168,0.000000,-1.022720,-1.296324,-0.666604,0.000000,-0.886640,0.000000,0.000000,-0.602201,-1.015951,-0.929478,-1.023059,0.000000,-1.177476,-0.839993,0.000000,-1.093459,-0.977522,-0.729489
2015-01-01 04:00:00,-0.722366,-0.837172,-1.055566,-1.318096,-0.680543,-0.706917,-0.925984,-0.948996,-1.114097,-0.573359,-1.079455,-0.943294,-1.041533,-1.045622,0.000000,-1.221742,-1.342884,-1.130380,-1.170083,-0.753493

In [13]:
global n_clients; global data_train; global data_test
def set_train_test(n_clients=20):
    data_train = normalized_data.iloc[:17376,:n_clients] 
    data_test = normalized_data.iloc[17376:,:n_clients]
    return data_train, data_test

In [14]:
data_train, data_test = set_train_test(n_clients=370)
print(data_train.shape)
print(data_test.shape)

(17376, 20)
(168, 20)

In [15]:
def get_flattened_obs(data_train, L=80):
    df = data_train
    N = df.shape[1]
#     col_to_row_ratio = 4

    T = df.shape[0]

    M = int(df.size / L)
    if M%N != 0:
        M -= M%N
    M_ts = M // N
    # inc_obs = np.array(df.iloc[:M_ts*L,:]) # first range, we use second range for traning
    inc_obs = np.array(df.iloc[T%L:,:]) # second range, note its not T%L+1 due to python index
    normalize = False
    from sklearn.preprocessing import StandardScaler
    if normalize:
        scaler = StandardScaler()
        inc_obs = scaler.fit_transform(inc_obs)
        norm_means = scaler.mean_
        norm_std = scaler.scale_

    flattened_obs = inc_obs.reshape([L,M], order = 'F') # 按照列顺序
    # flattened_obs = flattened_obs[:,np.arange(M_ts*self.no_ts).reshape([self.no_ts,M_ts]).flatten('F')] # 这里导致第二列是ts2，stacked page是不同ts交错组成
    return flattened_obs, M_ts

In [16]:
global N; global M_ts; global L; global window
L = 80
flattened_obs, M_ts = get_flattened_obs(data_train, L=L)
window = M_ts

In [17]:
def predict_one_day(data_test, model, weights, days=7):
    # predict for seven days
    # days = 7

    #initialise prediction array
    predictions = np.zeros((len(data_test.columns),24*days))
    ub = np.zeros((len(data_test.columns),24*days))
    lb = np.zeros((len(data_test.columns),24*days))

    # specify start time
    start_time = pd.Timestamp('2016-12-25 00:00:00')

    # actual = data_test.values[:24*days,:]

    # obtain new actual by index, new test start from 2014-12-02-17:00
    actual = data_test[data_test.index>=start_time].values[:24*days,:]


    for day in range(days):
        # get the final time stamp in the day
        end_time = start_time + pd.Timedelta(hours=23)
        # convert timestamps to string
        start_str = start_time.strftime('%Y-%m-%d %H:%M:%S')
        end_str = end_time.strftime('%Y-%m-%d %H:%M:%S')
        # predict for each house
        for i, column in enumerate(data_test.columns):
            # Forecast
            df_30 = model.predict(column,start_str,end_str)
            predictions[i,day*24:(day+1)*24] = df_30['Mean Predictions']
            ub[i,day*24:(day+1)*24] = df_30['Upper Bound']
            lb[i,day*24:(day+1)*24] = df_30['Lower Bound']

        # fit the model with the already predicted values 

        # df_insert = data_test.iloc[day*24:24*(day+1),:]

        # obtain new df_insert
        # df_insert = data_test[data_test.index>=start_time].iloc[day*24:24*(day+1),:]

        # model.update_model(df_insert)
    
        if weights is not None:
            model.ts_model.models[0].weights = weights

        # update start_time
        start_time = start_time + pd.Timedelta(hours=24)
    return actual, predictions

In [18]:
def test_sd(data_train, data_test, L, n_users, M_ts, dim, days, plot_all, plot_single):
    data_train = data_train.iloc[:,:n_users] # Debug1
    data_test = data_test.iloc[:,:n_users]

    flattened_obs, M_ts = get_flattened_obs(data_train, L=L)
    # stand-alone ssa
    window = M_ts
    lst_U_sd = []
    for i in range(n_users):
        data = flattened_obs[:,i*window:(i+1)*window]
        U,_,_ = np.linalg.svd(data)
        U = U[:,:dim]
        lst_U_sd.append(U)

    P_sd = flattened_obs
    P_sd_hat = []
    y_sd = []
    y_true = P_sd[-1,:]
    P_tilde_sd_hat = []
    imputation_model_score_sd = []
    actual = []; predictions_sd = []
    from sklearn.linear_model import LinearRegression
    
    for i in range(n_users):
        P_i_sd = P_sd[:,int(i*window):int((i+1)*window)]
        P_i_sd_hat = lst_U_sd[i].dot(lst_U_sd[i].T.dot(P_i_sd)); P_sd_hat.append(P_i_sd_hat)
        y_i_sd = P_i_sd_hat[-1,:]; y_sd.append(y_i_sd)
        y_i_true = P_i_sd[-1,:]
        P_i_tilde_sd_hat = P_i_sd_hat[:-1,:]; P_tilde_sd_hat.append(P_i_tilde_sd_hat)
        imputation_model_score_sd.append(r2_score(P_i_sd.flatten('F'),P_i_sd_hat.flatten('F'))) # verified same as imputation_model_score)
        # prediction
        reg = LinearRegression(fit_intercept=False).fit(P_i_tilde_sd_hat.T, y_i_sd)
        weights_sd_i = reg.coef_
        model_sd = mSSA(rank = dim, normalize = False, L=L)
        model_sd.update_model(pd.DataFrame(data_train.iloc[:,i]))
        model_sd.ts_model.models[0].weights = weights_sd_i
        actual_i, predictions_sd_i = predict_one_day(pd.DataFrame(data_test.iloc[:,i]), model_sd, weights_sd_i)
        actual.append(actual_i); predictions_sd.append(predictions_sd_i.T)
    imputation_model_score_sd = np.array(imputation_model_score_sd)
    P_sd_hat = np.hstack(P_sd_hat)
    y_sd = np.hstack(y_sd)
    P_tilde_sd_hat = np.hstack(P_tilde_sd_hat)
    actual = np.hstack(actual); predictions_sd = np.hstack(predictions_sd)
    print("imputation score:", imputation_model_score_sd.mean())
    
    Y = actual[:,:]
    Y_h_sd = predictions_sd[:,:]
    mse_sd = np.sqrt(np.mean(np.square(Y[:24*days]-Y_h_sd[:24*days]))) # Debug2
    print('Forecasting accuracy (RMSE) my:',mse_sd)
    rmse_sd = mse_sd
    if plot_all:
        npar = np.arange(0,20)
    else: npar = [1]
    if plot_single:
        for i in npar:
            plt.figure()
            plt.title('forecasting the next seven days for %s'%data_test.columns[i])
    #         plt.plot(predictions[i,:24*days],label= 'mSSA',color='green')
    #         plt.plot(predictions_my[i,:24*days],label= 'FedmSSA',color='orange')
            plt.plot(predictions_sd.T[i,:24*days],label= 'sd',color='pink')
            plt.plot(actual[:24*days,i],label = 'actual',color='blue')
            plt.legend()
        plt.show()
    
    return Y, Y_h_sd, _, lst_U_sd, rmse_sd

In [19]:
def test_mssa(data_train, data_test, rank, L, n_users, days, plot_all, plot_single):
    data_train = data_train.iloc[:,:n_users]
    data_test = data_test.iloc[:,:n_users]
    model = mSSA(rank = rank, normalize = False, L=L)
    
    # model
    model.update_model(data_train)
    actual, predictions = predict_one_day(data_test, model, None)

    Y = actual[:,:]
    Y_h = predictions.T[:,:]
    mse = np.sqrt(np.mean(np.square(Y[:24*days]-Y_h[:24*days])))
    print ('Forecasting accuracy (RMSE):',mse)
    rmse_mssa = mse 
    if plot_all:
        npar = np.arange(0,20)
    else: npar = [1]

    if plot_single:
        for i in npar:
            plt.figure()
            plt.title('forecasting the next seven days for %s'%data_test.columns[i])
            plt.plot(predictions[i,:24*days],label= 'mSSA',color='green')
            plt.plot(actual[:24*days,i],label = 'actual',color='blue')
            plt.legend()
        plt.show()
    
    return Y, Y_h, model.ts_model.models[0].weights, rmse_mssa

In [20]:
def test_fedMssa(data_train, data_test, L, n_users, M_ts, dim, days, plot_all, plot_single, missingVal=1):
    suffix_missingVal = 'missingVal' if missingVal else 'fullObs'
    
    data_train = data_train.iloc[:,:n_users]
    data_test = data_test.iloc[:,:n_users]
    flattened_obs, M_ts = get_flattened_obs(data_train, L=L)

    # model
    model_my = mSSA(rank = dim, normalize = False, L=L)
    # model
    model_my.update_model(data_train)

    P_admm = flattened_obs
    # ============================================================
    # ====== 1. read common U from npy, which is Z
#     results_path = f"../SSA/"
#     file_name = f"Grassmann_ADMM_constraint2_Traffic{n_users}_{suffix_missingVal}_N{n_users}_L{L}_d{L}_rhoauto_imputation.npy"
#     file_path = os.path.join(results_path, file_name)
#     Uk_admm = np.load(file_path)
#     # Select PCs by Sigma
#     lst_U = []
#     for i in range(n_users):
#         proj_admm_i = Uk_admm.T.dot(P_admm[:,i*M_ts:(i+1)*M_ts])
#         S2_admm_i_est = proj_admm_i.dot(proj_admm_i.T)
#         S2_admm_i = np.diag(S2_admm_i_est)
#         S_admm_i = np.sqrt(S2_admm_i)
#         Uk_admm_i = Uk_admm[:,S_admm_i.argsort()[::-1][:dim]] # 针对每一个client，取Uk的那20列，which 取决于 S_admm的大小
#         lst_U.append(Uk_admm_i)
    # ============================================================
        
    # ============================================================
    # ====== 2. read personalized U from h5, which is Ui
    results_path = f"../SSA/"
    file_name = f"Grassmann_ADMM_constraint2_Traffic{n_users}_{suffix_missingVal}_N{n_users}_L{L}_d{L}_rhoauto_imputation.h5"
    file_path = os.path.join(results_path, file_name)
    lst_U = []
    import h5py
    with h5py.File(file_path, "r") as f:
        # Print all root level object names (aka keys) 
        # these can be group or dataset names 
#         print("Keys: %s" % f.keys())
        # get first object name/key; may or may NOT be a group
        for a_group_key in list(f.keys()):
            ds_arr = f[a_group_key][()]  # returns as a numpy array
            lst_U.append(ds_arr)
    # Select PCs by Sigma
    for i in range(n_users):
        proj_admm_i = lst_U[i].T.dot(P_admm[:,i*M_ts:(i+1)*M_ts])
        S2_admm_i_est = proj_admm_i.dot(proj_admm_i.T)
        S2_admm_i = np.diag(S2_admm_i_est)
        S_admm_i = np.sqrt(S2_admm_i)
        Uk_admm_i = lst_U[i][:,S_admm_i.argsort()[::-1][:dim]] # 针对每一个client，取Uk的那20列，which 取决于 S_admm的大小
        lst_U[i] = Uk_admm_i
    # ============================================================
    
    # Select PCs randomly
#     select_idx = np.random.choice(np.arange(L),dim,replace=False)
#     lst_U = []
#     for i in range(n_users):
#         lst_U.append(Uk_admm[:,:dim])
#     print("Uk shape: ", lst_U[0].shape)

    imputation_model_score_admm = []
    
    P_admm_hat = []
    y_admm = []
    y_true = P_admm[-1,:]
    P_tilde_admm_hat = []
    window = M_ts
    for i in range(n_users):
        P_i_admm = P_admm[:,int(i*window):int((i+1)*window)]
        P_i_admm_hat = lst_U[i].dot(lst_U[i].T.dot(P_i_admm)); P_admm_hat.append(P_i_admm_hat)
        y_i_admm = P_i_admm_hat[-1,:]; y_admm.append(y_i_admm)
        y_i_true = P_i_admm[-1,:]
        P_i_tilde_admm_hat = P_i_admm_hat[:-1,:]; P_tilde_admm_hat.append(P_i_tilde_admm_hat)
        imputation_model_score_admm.append(r2_score(P_i_admm.flatten('F'),P_i_admm_hat.flatten('F'))) # verified same as imputation_model_score)
    imputation_model_score_admm = np.array(imputation_model_score_admm)
    P_admm_hat = np.hstack(P_admm_hat)
    y_admm = np.hstack(y_admm)
    P_tilde_admm_hat = np.hstack(P_tilde_admm_hat)

    print("imputation score", imputation_model_score_admm.mean())

    # verify weights_admm using sklearn
    from sklearn.linear_model import LinearRegression
    reg = LinearRegression(fit_intercept=False).fit(P_tilde_admm_hat.T, y_admm)
    weights_LR = reg.coef_
    
    model_my.ts_model.models[0].weights = weights_LR
    
    actual, predictions_my = predict_one_day(data_test, model_my, weights_LR)

    Y = actual[:,:]
    Y_h_my = predictions_my.T[:,:]
    mse_my = np.sqrt(np.mean(np.square(Y[:24*days]-Y_h_my[:24*days])))
    print ('Forecasting accuracy (RMSE) my:',mse_my)
    rmse_fedmssa = mse_my

    if plot_all:
        npar = np.arange(0,25)
    else: npar = [1]
    if plot_single:
        for i in npar:
            plt.figure()
            plt.title('forecasting the next seven days for %s'%data_test.columns[i])
    #         plt.plot(predictions[i,:24*7],label= 'mSSA',color='green')
            plt.plot(predictions_my[i,:24*days],label= 'FedmSSA',color='orange')
        #     plt.plot(predictions_sd[i,:24*7],label= 'sd',color='pink')
        #     plt.fill_between(np.arange(24*7), lb[i,:24*7], ub[i,:24*7], alpha = 0.1)
            plt.plot(actual[:24*days,i],label = 'actual',color='blue')
            plt.legend()
        plt.show()
    
    return Y, Y_h_my, weights_LR, lst_U, rmse_fedmssa

In [21]:
data_train_missing_vals = create_missing_data(data_train, missing_percentage=20)
data_train_missing_vals.shape

(17376, 20)

In [22]:
data_train_missing_vals.head()

,MT_001,MT_002,MT_003,MT_004,MT_005,MT_006,MT_007,MT_008,MT_009,MT_010,MT_011,MT_012,MT_013,MT_014,MT_015,MT_016,MT_017,MT_018,MT_019,MT_020
time,,,,,,,,,,,,,,,,,,,,
2015-01-01 00:00:00,-0.712761,-0.649143,0.000000,-1.154807,0.000000,-0.500971,-0.765328,-0.665566,0.000000,-0.414196,-0.822551,-0.854473,0.000000,0.000000,-0.899862,-0.569866,-1.335692,-0.748872,-0.798016,-0.608055
2015-01-01 01:00:00,-0.674341,-0.645010,-0.862140,-1.067719,-0.513278,0.000000,-0.701394,-0.490022,-0.447094,0.000000,-0.770593,-0.822892,-0.849406,-0.507760,-0.835587,0.155680,-1.213432,0.000000,0.000000,-0.599583
2015-01-01 02:00:00,-0.725568,-0.742124,-0.963111,-1.203794,-0.610849,-0.594173,-0.822705,-0.641794,-0.681695,-0.484698,-0.886055,0.000000,-0.951011,-0.735623,-1.053028,-0.145701,-1.310521,-0.952812,-0.716423,-0.691364
2015-01-01 03:00:00,-0.727168,-0.826841,-1.022720,-1.296324,-0.666604,0.000000,-0.886640,0.000000,0.000000,-0.602201,-1.015951,-0.929478,-1.023059,0.000000,-1.177476,-0.839993,0.000000,-1.093459,-0.977522,-0.729489
2015-01-01 04:00:00,-0.722366,-0.837172,-1.055566,-1.318096,-0.680543,-0.706917,-0.925984,-0.948996,-1.114097,-0.573359,-1.079455,-0.943294,-1.041533,-1.045622,0.000000,-1.221742,-1.342884,-1.130380,-1.170083,-0.753493

In [23]:
create_csv_data = False

In [24]:
if create_csv_data:
    for i in range(data_train_missing_vals.shape[1]):
        data_train_missing_vals.iloc[:,i].to_csv('../../data/traffic_train_missing_20/'+ 'MT_{0:03}'.format(i+1) + '.csv')

# Run Test for 20 users, each user contain a time series data:

Setting:
- 20 users
- each global training round select 10% of users
- 20% missing values
- each user has a time series data with missing values

In [25]:
rmse_sd = []
for dim in range(1):
    Y1, Y_sd, weights_sd, lst_U_sd, rmse = test_sd(data_train_missing_vals, data_test, L=100, n_users=20, M_ts=window, dim=25, days=2, plot_all=False, plot_single=False)
    rmse_sd.append(rmse)
rmse_sd

imputation score: 0.8330753633221162
Forecasting accuracy (RMSE) my: 0.7263737410718833

[0.7263737410718833]

In [26]:
rmse_mssa = []
for rank in range(1):
    Y2, Y_mssa, weights_mssa, rmse = test_mssa(data_train_missing_vals, data_test, rank=25, L=100, n_users=20, days=1, plot_all=False, plot_single=False)
    rmse_mssa.append(rmse)

Forecasting accuracy (RMSE): 0.5545909443989689

In [27]:
rmse_fedmssa = []
for dim in range(1):
    Y3, Y_my, weights_my, lst_U_my, rmse = test_fedMssa(data_train_missing_vals, data_test, L=100, n_users=20, M_ts=window, dim=25, days=2, plot_all=False, plot_single=False)
    rmse_fedmssa.append(rmse)

Keys: <KeysViewHDF5 ['MT_001', 'MT_002', 'MT_003', 'MT_004', 'MT_005', 'MT_006', 'MT_007', 'MT_008', 'MT_009', 'MT_010', 'MT_011', 'MT_012', 'MT_013', 'MT_014', 'MT_015', 'MT_016', 'MT_017', 'MT_018', 'MT_019', 'MT_020']>
imputation score 0.498844029470758
Forecasting accuracy (RMSE) my: 0.5458671678155741

In [28]:
# directory = os.getcwd()
# results_folder_path = os.path.join(directory, "rmse")
# sd_file_name = "sd_rmse_80_missing_20"
# mssa_file_name = "mssa_rmse_80_missing_20"
# fedmssa_file_name = "fedmssa_rmse_80_missing_20"
# sd_path = os.path.join(results_folder_path, sd_file_name)
# mssa_path = os.path.join(results_folder_path, mssa_file_name)
# fedmssa_path = os.path.join(results_folder_path, fedmssa_file_name)
# rmse_sd_np = np.array(rmse_sd)
# rmse_mssa_np = np.array(rmse_mssa)
# rmse_fedmssa_np = np.array(rmse_fedmssa)
# np.save(sd_path, rmse_sd_np)
# np.save(mssa_path, rmse_mssa_np)
# np.save(fedmssa_path, rmse_fedmssa_np)

In [29]:
# # RMSE vs dim  sd
# x = range(1, 30)
# plt.plot(x, rmse_sd_np[:29])
# plt.show()

In [30]:
# # RMSE vs dim  mssa
# x = range(1, 30)
# plt.plot(x, rmse_mssa_np[:29])
# plt.show()

In [31]:
# # RMSE vs dim  fedmssa
# x = range(1, 31)
# plt.plot(x, rmse_fedmssa_np[50:80])
# plt.show()

In [32]:
# x = range(1, 31)
# plt.figure(figsize=(10, 10))
# rmse_sd_best = rmse_sd_np[:30]
# rmse_mssa_best = rmse_mssa_np[:30]
# rmse_fedmssa_best = rmse_fedmssa_np[50:80]
# plt.plot(x, rmse_sd_best, label="standalone ssa")
# plt.plot(x, rmse_mssa_best, label="centralized mssa")
# plt.plot(x, rmse_fedmssa_best, label="fedmssa")
# plt.title("RMSE")
# plt.legend(prop={'size': 20})
# plt.show()

# Run Test for 370 users, each user contain a time series data:

Setting:
- 370 users
- each global training round select 10% of users
- 20% missing values
- each user has a time series data with missing values

In [33]:
for dim in [1]:
    Y1, Y_sd, weights_sd, lst_U_sd = test_sd(data_train_missing_vals, data_test, L=80, n_users=370, M_ts=window, dim=10, days=2, plot_all=False)

TypeError: test_sd() missing 1 required positional argument: 'plot_single'

In [ ]:
for rank in [15]:
    Y2, Y_mssa, weights_mssa = test_mssa(data_train_missing_vals, data_test, rank=10, L=80, n_users=370, days=2, plot_all=False)

In [ ]:
Y3, Y_my, weights_my, lst_U_my = test_fedMssa(data_train, data_test, L=80, n_users=370, M_ts=window, dim=74, days=2, plot_all=False)